@model Hotelier.Application.Testimonials.Queries.Dtos.TestimonialDto

@{
    ViewData["Title"] = @Model.Name + "-Referans Detay";
}

<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-md-6 mb-4 mb-lg-0">
                                <img src="@Model.Image" alt="..." width="450" class="rounded-3">
                            </div>
                            <div class="col-md-6 px-xl-10">
                                <div class="d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded mb-5">
                                    <h3 class="h2 text-dark mb-0">@Model.Name</h3>
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <li class="mb-2 mb-xl-3 display-28">
                                        <span class="display-26 text-secondary me-2 font-weight-600 fw-bold">Tip:</span> @Model.Type
                                    </li>
                                    <li class="mb-2 mb-xl-3 display-28">
                                        <span class="display-26 text-secondary me-2 font-weight-600 fw-bold">Kayıt Tarihi:</span> @Model.CreatedAt.ToString("dd.MM.yyyy")
                                    </li>
                                    <li class="mb-2 mb-xl-3 display-28">
                                        <span class="display-26 text-secondary me-2 font-weight-600 fw-bold">Detay:</span> @Model.Description
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>