@using Hotelier.Application.Testimonials.Queries.Dtos
@model Hotelier.Application.Testimonials.Queries.GetTestimonials.GetTestimonialsVm

@{
    ViewData["Title"] = "Referanslar";
}

<h2 class="text-center">Referanslar Sayfası</h2><hr>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Liste</h4>
            <div class="d-sm-flex justify-content-between align-items-start">
                <p class="card-description">
                    Bu sayfada <code>referansları</code> listeleyip işlem seçebilirsiniz.
                </p>
                <div>
                    <a asp-controller="Testimonial" asp-action="Add"
                       class="btn btn-success btn-md text-white fw-bold mb-0 me-0" type="button">
                        <i class="mdi mdi-account-group"></i>&nbsp;&nbsp;Yeni Referans
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Ad Soyad
                        </th>
                        <th>
                            Fotoğraf
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model != null && Model.Testimonials != null && Model.Testimonials.Count > 0)
                    {
                        @foreach (TestimonialDto testimonial in Model.Testimonials)
                        {
                            <tr>
                                <td>
                                    @testimonial.Id
                                </td>
                                <td>
                                    @testimonial.Name
                                </td>
                                <td class="py-1">
                                    <img src="@testimonial.Image" alt="image"/>
                                </td>
                                <td>
                                    <ul class="navbar-nav ms-auto">
                                        <li class="nav-item dropdown d-none d-lg-block">
                                            <a class="nav-link dropdown-bordered dropdown-toggle dropdown-toggle-split" id="messageDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false"> İşlemler </a>
                                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
                                                <a class="dropdown-item preview-item" asp-controller="Testimonial" asp-action="Detail" asp-route-id="@testimonial.Id">
                                                    <div class="preview-item-content flex-grow py-2">
                                                        <p class="preview-subject ellipsis font-weight-medium text-dark">Detay </p>
                                                        <p class="fw-light small-text mb-0">Referansın detay bilgilerini görüntüleyebilirsiniz.</p>
                                                    </div>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item preview-item" asp-controller="Testimonial" asp-action="Update" asp-route-id="@testimonial.Id">
                                                    <div class="preview-item-content flex-grow py-2">
                                                        <p class="preview-subject ellipsis font-weight-medium text-dark">Güncelle </p>
                                                        <p class="fw-light small-text mb-0">Referansın bilgilerini güncelleyebilirsiniz.</p>
                                                    </div>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item preview-item" asp-controller="Testimonial" asp-action="Delete" asp-route-id="@testimonial.Id">
                                                    <div class="preview-item-content flex-grow py-2">
                                                        <p class="preview-subject ellipsis font-weight-medium text-dark">Sil </p>
                                                        <p class="fw-light small-text mb-0">Bu referansı silebilirsiniz.</p>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item preview-item" asp-controller="User" asp-action="Detail" asp-route-id="@testimonial.CreatedBy">
                                                    <div class="preview-item-content flex-grow py-2">
                                                        <p class="preview-subject ellipsis font-weight-medium text-dark">Ekleyen </p>
                                                        <p class="fw-light small-text mb-0">Bu referansı ekleyen kullanıcıyı görüntüleyebilirsiniz.</p>
                                                    </div>
                                                </a>
                                                @if (testimonial.UpdatedBy != null && testimonial.UpdatedBy > 0)
                                                {
                                                    <a class="dropdown-item preview-item" asp-controller="User" asp-action="Detail" asp-route-id="@testimonial.UpdatedBy">
                                                        <div class="preview-item-content flex-grow py-2">
                                                            <p class="preview-subject ellipsis font-weight-medium text-dark">Güncelleyen </p>
                                                            <p class="fw-light small-text mb-0">Bu refıerans güncelleyen kullanıcıyı görüntüleyebilirsiniz.</p>
                                                        </div>
                                                    </a>
                                                }
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>

            @if (Model != null)
            {
                @await Component.InvokeAsync("PaginationResponse", new
                       {
                           model = new PaginationResponseModel
                           {
                               ControllerName = "Testimonial",
                               CurrentPage = Model.CurrentPage,
                               Next = Model.Next,
                               Previous = Model.Previous,
                               PageCount = Model.PageCount
                           }
                       })
            }
        </div>
    </div>
</div>