@using Hotelier.Application.Services.Queries.Dtos
@model Hotelier.Application.Services.Queries.GetServices.GetServicesVm

@{
    ViewData["Title"] = "Servisler";
}

<h2 class="text-center">Servisler Sayfası</h2><hr>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Liste</h4>
            <div class="d-sm-flex justify-content-between align-items-start">
                <p class="card-description">
                    Bu sayfada <code>servisleri</code> listeleyip işlem seçebilirsiniz.
                </p>
                <div>
                    <a asp-controller="Service" asp-action="Add"
                       class="btn btn-success btn-md text-white fw-bold mb-0 me-0" type="button">
                        <i class="mdi mdi-room-service"></i>&nbsp;&nbsp;Yeni Servis
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            İkon
                        </th>
                        <th>
                            Başlık
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model != null && Model.Services != null && Model.Services.Count > 0)
                    {
                        @foreach (ServiceDto service in Model.Services)
                        {
                            <tr>
                                <td>
                                    @service.Id
                                </td>
                                <td class="py-1">
                                    <img src="@service.Icon" alt="image"/>
                                </td>
                                <td>
                                    @service.Title
                                </td>
                                <td>
                                    <ul class="navbar-nav ms-auto">
                                        <li class="nav-item dropdown d-none d-lg-block">
                                            <a class="nav-link dropdown-bordered dropdown-toggle dropdown-toggle-split" id="messageDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false"> İşlemler </a>
                                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
                                                <a class="dropdown-item preview-item" asp-controller="Service" asp-action="Detail" asp-route-id="@service.Id">
                                                    <div class="preview-item-content flex-grow py-2">
                                                        <p class="preview-subject ellipsis font-weight-medium text-dark">Detay </p>
                                                        <p class="fw-light small-text mb-0">Servisin detay bilgilerini görüntüleyebilirsiniz.</p>
                                                    </div>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item preview-item" asp-controller="Service" asp-action="Update" asp-route-id="@service.Id">
                                                    <div class="preview-item-content flex-grow py-2">
                                                        <p class="preview-subject ellipsis font-weight-medium text-dark">Güncelle </p>
                                                        <p class="fw-light small-text mb-0">Servisin bilgilerini güncelleyebilirsiniz.</p>
                                                    </div>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item preview-item" asp-controller="Service" asp-action="Delete" asp-route-id="@service.Id">
                                                    <div class="preview-item-content flex-grow py-2">
                                                        <p class="preview-subject ellipsis font-weight-medium text-dark">Sil </p>
                                                        <p class="fw-light small-text mb-0">Bu servisi silebilirsiniz.</p>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item preview-item" asp-controller="User" asp-action="Detail" asp-route-id="@service.CreatedBy">
                                                    <div class="preview-item-content flex-grow py-2">
                                                        <p class="preview-subject ellipsis font-weight-medium text-dark">Ekleyen </p>
                                                        <p class="fw-light small-text mb-0">Bu servisi ekleyen kullanıcıyı görüntüleyebilirsiniz.</p>
                                                    </div>
                                                </a>
                                                @if (service.UpdatedBy != null && service.UpdatedBy > 0)
                                                {
                                                    <a class="dropdown-item preview-item" asp-controller="User" asp-action="Detail" asp-route-id="@service.UpdatedBy">
                                                        <div class="preview-item-content flex-grow py-2">
                                                            <p class="preview-subject ellipsis font-weight-medium text-dark">Güncelleyen </p>
                                                            <p class="fw-light small-text mb-0">Bu servisi güncelleyen kullanıcıyı görüntüleyebilirsiniz.</p>
                                                        </div>
                                                    </a>
                                                }
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>

            @if (Model != null)
            {
                @await Component.InvokeAsync("PaginationResponse", new
                       {
                           model = new PaginationResponseModel
                           {
                               ControllerName = "Service",
                               CurrentPage = Model.CurrentPage,
                               Next = Model.Next,
                               Previous = Model.Previous,
                               PageCount = Model.PageCount
                           }
                       })
            }
        </div>
    </div>
</div>